.title-slide h3 {
    font-size: 1.2em;
}

h4 {
    color: #1094AB;
}

.teoria {
  border-left-width: 24px;
  border-left-style: solid;
  padding-left: 20px;
  border-color: #f2f2f2;
  }

.teoria:after {
  content: "Teoria";
  color: #9d9b9b;
  transform: rotate(270deg);
  font-weight: bold;
  position: fixed;
  bottom: 90%;
  right: 96.7%;
  font-size: 0.8em;
}

.livecoding {
  border-left-width: 24px;
  border-left-style: solid;
  padding-left: 20px;
  border-color: #1094AB;
}

.livecoding:after {
  content: "Demonstração";
  color: #FFFFFF;
  transform: rotate(270deg);
  font-weight: bold;
  position: fixed;
  bottom: 85%;
  right: 93%;
  font-size: 0.8em;
}

.exercicios {
  border-left-width: 24px;
  border-left-style: solid;
  padding-left: 20px;
  border-color: #FDB525;
}

.exercicios:after {
  content: "Exercícios";
  color: #FFFFFF;
  transform: rotate(270deg);
  font-weight: bold;
  position: fixed;
  bottom: 87%;
  right: 95%;
  font-size: 0.8em;
}

.revisao {
  border-left-width: 24px;
  border-left-style: solid;
  padding-left: 20px;
  border-color: #ff5b5b;
}

.revisao:after {
  content: "Revisão";
  color: #FFFFFF;
  transform: rotate(270deg);
  font-weight: bold;
  position: fixed;
  top: 5%;
  left: -2.1%;
  font-size: 0.8em;
}


.small{
   font-size: 0.8em;
}

.remark-code-line{
   font-size: 0.9em;
}

.smaller{
   font-size: 0.6em;
}

.rascunho::after{
    content: "Conteúdo em desenvolvimento!";
    color: red;
    transform: rotate(315deg);
    position: absolute;
    text-align: center;
    top: 50%;
    width: 140%;
    opacity: 70%;
    font-size: 1.5em;
}

.topnote {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 0.9em;
}

.left-code {
  color: #777;
  width: 38%;
  height: 92%;
  float: left;
}
.right-plot {
  width: 60%;
  float: right;
  padding-left: 1%;
}
